* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Sundaycoffee';
    src: url('../fonts/Sundaycoffee.ttf') format(truetype);
}

@font-face {
    font-family: 'Quesha';
    src: url('../fonts/Quesha.ttf') format(truetype);
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf') format(truetype);
}

:root {
    color: var(--white-color);
    font-family: 'Roboto';
    font-size: 16px;

    /* HSL colors pallete */
    --ash-color: hsla(68, 8%, 62%, 1);
    --licor-color: hsla(23, 16%, 10%, 1);
    --licor-color-trans: hsla(23, 16%, 10%, 0.9);
    --coffee-color: hsla(25, 38%, 36%, 1);
    --khaki-color: hsla(39, 31%, 64%, 1);
    --dyke-color: hsla(27, 22%, 20%, 0.5);
    --white-color: #FFFFFF;

    --border-radius: 30px;
}

body {
    background-image: url('./background.jpg');
    background-color: var(--dyke-color);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

header {
    height: 15vh;
}

h3 {
    font-family: 'Quesha';
    font-size: 2rem;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 25px 50px 0 50px;
}

.logo {
    order: 0;
}

.navbar {
    order: 1;
}

button.burger-button {
    background-color: transparent;
    border: 10px;
    color: black;
    cursor: pointer;
    font-size: 30px;
    margin-left: 32px;
    float: left;
    line-height: 70px;
    display: none;
    outline: none;
}

nav ul#items {
    display: flex;
    gap: 25px;
}

li {
    list-style-type: none;
}

button {
    color: var(--white-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button.nav-item {
    font-size: 1.5rem;
}

li.close {
    display: none;
}


span.home {
    --offset: 2;
    color: #ffcc00;
    left: calc(var(--offset) * 1ch + calc(var(--offset) * 0.2ch));
    animation: flicker 3s linear infinite;
    top: 0;
    z-index: 1;

    font-size: 5rem;
    line-height: 1;
}

a {
    cursor: pointer;
}

@keyframes flicker {

    0%, 19.9%, 22%, 62.9%, 64%, 64.9%, 70%, 100% {
        opacity: 0.99;
        text-shadow:
            -1px -1px 0 rgba(255, 255, 255, 0.4),
            1px -1px 0 rgba(255, 255, 255, 0.4),
            -1px 1px 0 rgba(255, 255, 255, 0.4),
            1px 1px 0 rgba(255, 255, 255, 0.4),
            0 -2px 8px,
            0 0 2px,
            0 0 5px #ff7e00,
            0 0 15px #ff4444,
            0 0 2px #ff7e00,
            0 2px 3px #000;
    }

    20%, 21.9%, 63%, 63.9%, 65%, 69.9% {
        opacity: 0.4;
        text-shadow: none;
    }
}


@media (max-width: 600px) {
    * {
        overflow-y: scroll;
    }

    :root {
        color: var(--white-color);
        font-family: 'Roboto';
        font-size: 8px;
    }

    header {
        height: 10vh;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: normal;
        padding: 0;
        padding-top: 20px;
        padding-right: 20px;
        gap: 0;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 1;
        overflow-x: hidden;
        order: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-left: auto;
        order: 1;
    }

    nav ul#items {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--licor-color-trans);
        height: 100%;
    }

    nav ul#items.show {
        display: flex;
    }
    
    button.nav-item {
        font-size: 3rem;
        padding-left: 20px;
    }

    button.burger-button {
        display: block;
        align-self: flex-start;
    }

    li.close {
        display: flex;
        align-self: flex-end;
        padding-top: 20px;
        padding-right: 20px;
        font-size: 3.5rem;
    }

    button.hidden {
        display: none;
    }
}