main.contact {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
}

section.contact {
    width: 30%;
    height: 65%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 40px;
    animation: .3s ease-out 0s 1 moveup;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.left-contact, .right-contact {
    border-radius: inherit;
    backdrop-filter: blur(40px) brightness(1.15);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    border: 2px solid var(--white-color)
}

.left-contact {
    width: 40%;
    animation: 0.3s ease-in 0s 1 leftslide;
}

.right-contact {
    width: 60%;
    animation: 0.3s ease-in 0s 1 rightslide;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name-div, .email-div, .comment-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h5 {
    font-size: 1rem;
}

input {
    background-color: var(--white-color);
    color: var(--coffee-color);
    border-radius: 10px;
    padding: 5px 5px;
    border: none;
}

input::placeholder, textarea::placeholder {
    color: var(--coffee-color);
}

textarea {
    color: var(--coffee-color);
    height: 75px;
    padding: 5px 5px;
    border-radius: 10px;
    resize: vertical;
}

button.submit-form {
    align-self: center;
    width: fit-content;
    background-color: var(--khaki-color);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    font-size: 1rem;
    letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, .25) 0px 14px 28px, rgba(0, 0, 0, .22) 0px 5px 5px;
    transition: 0.5s;
}

button.submit-form:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.social-contact {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    gap: 20px;
}

@keyframes leftslide {
    0% {
        transform: translateX(-15%) scale(0.9);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

@keyframes rightslide {
    0% {
        transform: translateX(+15%) scale(0.9);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}


@media (max-width: 600px) {
    main.contact {
        width: 100vw;
        height: 100%;
        padding: 0 20px 20px 20px;
        box-sizing: border-box;
    }

    section.contact {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .left-contact {
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        width: 100%;
        height: 25%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "info1 social"
            "info2 social";
        gap: 10px;
    }

    .hq {
        order: 0;
        grid-area: info1;
    }

    .social-contact {
        order: 1;
        grid-area: social;
        align-self: center;
    }

    .social-icons {
        flex-direction: column;
    }

    .sp {
        order: 2;
        grid-area: info2;
    }

    .left-contact h5 {
        font-size: 3rem;
        overflow: scroll;
    }

    .right-contact {
        height: 60vh;
        width: 100%;
        box-sizing: border-box;
        gap: 5px;
        padding-top: 10px;
        padding-bottom: 20px;
        overflow: scroll
    }

    form {
        width: 100%;
    }

    form input, form textarea, form label {
        font-size: 3rem;
    }

    form textarea {
        height: 100px;
    }

    button.submit-form {
        margin-top: 5px;
        font-size: 3rem;
    }
}